.container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boardList_main_con{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    flex-direction: column;
}
.boardList_btn_box{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top:50px;
}
.boardList_btn_box a{
    width: 150px;
    height: 40px;
    background-color: #4285F4;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    color:white;
    justify-content: center;
}
.boardList_main_box{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.boardList_content_top,.boardList_content{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border:1px solid #e2e2e2;
}

.board_no{
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board_name{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board_name a{
    width:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:blue;
}
.boardList_content_top li,.boardList_content li{
    font-weight: bold;
    padding-bottom: 25px;
    color:gray;
    padding-top: 25px;
    font-size: 14px;
}
.board_hit{
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.board_writer{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.board_createDate,.board_promiseDate{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_sport{
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.boardList_main_box span{
    width:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color:Gray;
}

.search_form{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search_box input{
    width:300px;
    height: 50px;
    border:2px solid #e2e2e2;
}
.search_box button{
    width:75px;
    height: 50px;
    border:1px solid #e2e2e2;
    border-radius: 10px;
    font-weight: bold;
}
.sort_box{
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort_box select{
    width:150px;
    display: flex;
    align-items: center;
    border:1px solid #e2e2e2;
    font-weight: bold;
    height: 50px;
    margin-left: 30px;
    border-radius: 10px;
}
