.container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boardAdd_main_con{
    padding-bottom: 150px;
    padding-top: 150px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boardAdd_main_box{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boardAddTag1,.boardAddTag2{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.boardAddTag1 span,.boardAddTag2 span{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}
.boardAddTag1 input,.boardAddTag1 select{
    width:500px;
    height: 50px;
    border:1px solid #e2e2e2;
    border-radius: 5px;
    margin-left: 20px;
}
.boardAddTag2 input{
    width:250px;
    margin-left: 20px;
    border:1px solid #e2e2e2;
    border-radius: 5px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color:Gray;

}
.boardAddTag2 select{
    margin-left: 20px;
    width:150px;
    height: 50px;
    border-radius: 5px;
    border:1px solid #e2e2e2;
    font-weight: bold;
    font-size: 20px;
    color:Gray;
}
#map{
    width:800px;
    height: 500px;
}