<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/adduser.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/adduser.js}"></script>
</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>

    <main class="adduser_main_con">
        <form class="adduser_main_box" action="/users" method="POST">
            <label class="add_tag1">
                <span>이메일 : </span>
                <input name="email" type="email">
            </label>
            <label class="add_tag1">
                <span>비밀번호 : </span>
                <input name="password" type="password">
            </label>
            <label class="add_tag1">
                <span>비밀번호 확인 : </span>
                <input name="passwordCheck" type="password">
            </label>
            <label class="add_tag1">
                <span>닉네임 : </span>
                <input name="nickname" type="text">
            </label>
            <label class="add_tag1">
                <span>본명 : </span>
                <input name="name" type="text">
            </label>
            <label class="add_tag1">
                <span>휴대전화 : </span>
                <input name="tel" type="tel">
            </label>
            <label class="add_tag1">
                <span>나이 : </span>
                <select name="age">

                </select>
            </label>
            <label class="add_tag1">
                <span>관심 운동 : </span>
                <select name="sportNo">
                    <option value="">본인의 운동 선택</option>
                    <option th:each="sports :${getSports}" th:value="${sports.getSpoNo()}" th:text="${sports.getSpoName()}">본인의 운동 선택</option>
                    <option value="기타">기타</option>
                </select>
            </label>
            <div class="add_tag2">
                <span>주 운동 시간대 : </span>
                <div class="tag_time">
                    <select name="sportTimeFrom">

                    </select>
                    에서
                    <select name="sportTimeUntil">

                    </select>
                    까지

                </div>
            </div>

            <button class="adduser_btn">회원 등록 완료</button>

        </form>

    </main>

    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>