<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/boardlist.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>

</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>

    <main class="boardList_main_con">

        <div class="boardList_btn_box">
            <a href="/boards">게시글 등록</a>
        </div>
        <div class="boardList_main_box" th:if="${!#lists.isEmpty(board)}">
            <ul class="boardList_content_top">
                <li class="board_no">No</li>
                <li class="board_name">제목</li>
                <li class="board_sport">종목</li>
                <li class="board_promiseDate">약속 일자</li>
                <li class="board_writer">작성자</li>
                <li class="board_createDate">작성일</li>
            </ul>
            <ul class="boardList_content" th:each="board:${board}">
                <li class="board_no" th:text="${board.boardNo}"></li>
                <li class="board_name"><a th:href="|/boards/detail/${board.boardNo}|" th:text="${board.boardName}"></a></li>
                <li class="board_sport" th:text="${board.sport.spoName}"></li>
                <li class="board_promiseDate" th:text="${board.boardPromiseFrom}"></li>
                <li class="board_writer" th:text="${board.user.email}"></li>
                <li class="board_createDate" th:text="${board.createDate}"></li>
            </ul>
        </div>
        <div class="boardList_main_box" th:if="${#lists.isEmpty(board)}">
            <span>해당 페이지에 출력할 데이터가 존재하지않아요!!!</span>

        </div>

    </main>

    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>