<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="header_con" th:fragment="header">
    <div class="header_login">
        <a href="#">Login</a>
        <a href="#">MyPage</a>

    </div>
    <div class="header_box">
        <a href="#" class="header_logo">Health</a>
        <div class="header_menu">
            <a href="#">헬스</a>
            <a href="#">볼링</a>
            <a href="#">축구</a>
            <a href="#">야구</a>
            <a href="#">기타 운동</a>
        </div>
    </div>

</header>
</body>
</html>