<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="header_con" th:fragment="header">
    <div class="header_login">
        <a href="/users/login" sec:authorize="!isAuthenticated()">로그인</a>

        <form action="/users/logout" method="post" class="logout_form" sec:authorize="isAuthenticated()">
            <span th:text="|${#authentication.name}님 로그인|" ></span>
            <a href="#">내 정보</a>
            <button>로그아웃</button>
        </form>

    </div>
    <div class="header_box">
        <a href="#" class="header_logo">Health</a>
        <div class="header_menu">
            <a href="#">헬스</a>
            <a href="#">볼링</a>
            <a href="#">축구</a>
            <a href="#">야구</a>
            <a href="#">기타 운동</a>
        </div>
    </div>

</header>
</body>
</html>