<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/reset2.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<div class="container">
  <header th:replace="header :: header"></header>

  <main class="login_main_con">
    <div class="login_main_box">
      <div class="login_img_box">
        <a th:href="|/index/filter?sort=aaa&category=${category}|">asdsdsad</a>
        <img src="">
      </div>
      <div class="login_text_box"></div>
    </div>

  </main>

  <footer th:replace="footer :: footer"> </footer>

</div>
</body>
</html>