<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>

    <main class="login_main_con">
        <div class="login_main_box">
            <div class="login_img_box">
                <img src="/SportTeam/loginImg.jpg">
            </div>
            <form class="login_text_box" method="POST" action="/users/login">
                <label>
                    <span>ID :</span>
                    <input name="email" type="text">
                </label>
                <label>
                    <span>Pass :</span>
                    <input name="password" type="password">
                </label>
                <button type="submit" class="login_btn">로그인</button>
                <a href="/users" class="add_member_move">회원 가입</a>
                <a href="#" class="find_member_move">아이디 / 비밀번호 찾기</a>
                <a  href="/oauth2/authorization/naver" class="sns_btn_box">
                    <img src="/SportTeam/NaverBtn.png">
                </a>
                <a href="/oauth2/authorization/kakao" class="sns_btn_box">
                    <img src="/SportTeam/KakaoBtn.png">
                </a>
                <a href="/oauth2/authorization/google" class="sns_btn_box">
                    <img src="/SportTeam/GoogleBtn.png">
                </a>


            </form>
        </div>

    </main>

    <footer th:replace="footer :: footer"></footer>

</div>
</body>
</html>